.lay-out {
  padding: 10px;
  display: flex;
  // align-items: center;
  gap: 30px;
  justify-content: space-between;

  .sid-navbar {
    transition: width 0.4s ease, all 0.6s ease;
  }

  .main-content {
    width: 100%;

  }

  .landig-pages {
    height: 98vh;
    overflow-y: auto;
    padding-inline-end: 8px;
  }

  .landig-pages::after {
    content: "";
   
    display: block;
   
    height: 140px;

   

  }
}
.landig-pages::-webkit-scrollbar {
    width: 6px; /* barik scrollbar */
}

.landig-pages::-webkit-scrollbar-track {
    background: transparent; /* track ko none jesa dikhana */
}

.landig-pages::-webkit-scrollbar-thumb {
    background-color: #8daac6; /* scrollbar ka color */
    border-radius: 10px;
}
@media (max-width: 1000px) {
  .sid-navbar {
    display: none;
  }
}