.card {
  background-color: var(--second-primary-color);
  border: 1px solid var(--border-color);
border-radius: 10px;
  .card-body {
    position: relative;
  }

  .card-title {
    color: var(--gray-color-1);
    font-size: 23px;
    margin-top: 20px;
  }

  .user-role {
    color: var(--gray-color-2);
    font-size: 15px;

  }

  .user-discription {
    color: var(--gray-color-2);
    font-size: 15px;

  }

  .icons {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #3b5998;
    color: var(--gray-color-2);
    cursor: pointer;
    overflow: hidden;
  }

  .icons::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0);
    /* initially transparent */
    transition: background 0.3s ease;
  }

  .icons:hover::after {
    background: rgba(223, 226, 238, 0.2);
    /* light overlay on top */
  }

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translateX(-50%);
}
}