<div class="create-new-form-container">
    <div class="create-new-form-card">
        <div class="form-header">
            <h2 class="form-title">Create New Form</h2>
        </div>

        <form class="create-new-form">
            <!-- Row 1: Field Code & Label -->
            <div class="form-row">
            

                <div class="form-group">
                    <label class="input-label">Code <span class="required">*</span></label>
                    <input type="text" class="form-input" 
                        placeholder="Enter Code" required 
                        [(ngModel)]="formData.code" name="code"/>
                </div>

                    <div class="form-group">
                    <label class="input-label"> Name <span class="required">*</span></label>
                    <input type="text" class="form-input"
                        placeholder="Enter Name" required 
                        [(ngModel)]="formData.name" name="name"/>
                </div>
            </div>

           
            <!-- Action Buttons -->
            <div class="form-actions">
                <button type="button" class="btn btn-cancel"   routerLink="/panel/forms/view-all-forms">
                    <i class="fa-solid fa-times"></i>
                    Cancel
                </button>
                <button (click)="onSubmit()" type="submit" class="btn btn-submit" >
                    <i class="fa-solid fa-check"></i>
                    Create Form
                </button>
            </div>
        </form>
    </div>
</div>
