<!-- side-nav-bar.component.html -->
<nav [class.closed]="!isOpen" class="sidebar pt-3">
  <div class="logo gap-1" *ngIf="isOpen">
    <img [src]="isDarkMode ? '../../../../assets/company-logo-black.png' : '../../../../assets/company-logo-white.png'"
      alt="not-found" style="width: 200px; height: 40px">

  </div>
  <div *ngIf="!isOpen">
    <img src="../../../../assets/apex-logo-collapse.png" alt="not-found" style="width: 52px; height: 45px; margin-left: 5px;" />

  </div>
  <div class="d-flex align-items-center justify-content-center my-3" ngbDropdown>
    <div class="user-card" id="dropdownBasic" ngbDropdownToggle>
      <img src="../../../../assets/nb (2).png" alt="User Avatar" />
      <div class="user-info">
        <h4>Welcome</h4>
        <p>Super Admin</p>
      </div>
      <div class="btn-group ">
        <button class="dropdown-btn ">
          <!-- <i class="fa-solid fa-expand"></i> -->
        </button>
        <ul id="dropdown-basic" ngbDropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">

        </ul>

      </div>
    </div>
  </div>

  <div class="tabslist">
    <!-- Top-level items -->
    <ng-container *ngFor="let item of topLevelItems">
      <a *ngIf="item.isVisible" [routerLink]="item.route" routerLinkActive="active">
        <i [class]="item.icon"></i> <span>{{ item.label }}</span>
      </a>
    </ng-container>

    <!-- Menu Groups with nested children -->
    <ng-container *ngFor="let group of menuGroups">
      <div class="nav-item-with-toggle" *ngIf="group.isVisible">
        <a class="top-link" (click)="toggleGroup(group)" [attr.aria-expanded]="!group.collapsed">
          <i [class]="group.icon"></i>
          <span>{{ group.label }}</span>
          <span class="chev-icon">
            <i *ngIf="group.collapsed" class="fa-solid fa-chevron-right"></i>
            <i *ngIf="!group.collapsed" class="fa-solid fa-chevron-down"></i>
          </span>
        </a>

        <div [(ngbCollapse)]="group.collapsed" class="collapseStyling" [class.open]="!group.collapsed">
          <div class="collapseDiv">
            <ng-container *ngFor="let child of group.children">
              <!-- If child has children (nested menu) -->
              <div class="nav-item-with-toggle level-2" *ngIf="child.children && child.isVisible">
                <a class="level-link" (click)="toggleMenuItem(child)" [attr.aria-expanded]="!child.collapsed">
                  <i [class]="child.icon"></i>
                  <span>{{ child.label }}</span>
                  <span class="chev-icon small">
                    <i *ngIf="child.collapsed"></i>
                    <i *ngIf="!child.collapsed"></i>
                  </span>
                </a>

                <div [(ngbCollapse)]="child.collapsed!" class="collapseStyling inner" [class.open]="!child.collapsed">
                  <div class="collapseDiv">
                    <ng-container *ngFor="let subChild of child.children">
                      <a *ngIf="subChild.isVisible" [routerLink]="subChild.route" routerLinkActive="active">
                        <span>{{ subChild.label }}</span>
                      </a>
                    </ng-container>
                  </div>
                </div>
              </div>

              <!-- If child is a simple link -->
              <a *ngIf="!child.children && child.isVisible && child.route" [routerLink]="child.route" routerLinkActive="active">
                <span>{{ child.label }}</span>
              </a>

              <!-- If child is a simple link without route -->
              <a *ngIf="!child.children && child.isVisible && !child.route">
                <span>{{ child.label }}</span>
              </a>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</nav>