<section class="container-fluid p-0">
    <div class="d-flex justify-content-between mb-3">

        <div class="page-title ">
            <i class="fa-solid fa-house"></i>
            <span style="font-weight: 700; color: #566f9e;">-</span>
            <br>
            <span>View All Tables List</span>


        </div>
        <!-- <div>
            <button class="creat-btn" routerLink="/panel/requisition-lookups/create-lookup-enums">Create New Lookup</button>
        </div> -->
    </div>

    <section class="table-main-div ">
        <div class="rounded-2xl text-gray-200 overflow-x-auto  pt-4">
            <h4>View Lookup - {{ lookupName }}</h4>
            <table class="min-w-full text-sm border-separate border-spacing-y-2 ">
                <thead>
                    <tr class="text-gray-400 text-left text-xs uppercase tracking-wider">

                        <th class="px-3 py-2">Lookup Code</th>

                        <th class="px-3 py-2">Name</th>
                        <th class="px-3 py-2">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let c of paginatedLookupValues; let i = index"
                        class="bg-[#1e293b] hover:bg-[#27354a] rounded-lg">
                        <td class="px-3 py-3 font-medium">{{ c.code }}</td>
                        <td class="px-3 py-3 font-medium">{{ c.name }}</td>
                        <td class="px-3 py-3 font-medium">

                            <i class="fa fa-edit" style="cursor:pointer; margin-right: 10px;"
                                [routerLink]="['/panel/table/edit-new-row-in-table']"
                                [queryParams]="{lookupName: lookupName, code: c.code,name: c.name,description: c.description,isActive: c.isActive,publicId: c.publicId, mode: 'edit'}"></i>
                            <i class="fa fa-trash" style="cursor:pointer;"></i>
                        </td>



                    </tr>
                </tbody>
            </table>

        </div>

        <!-- ✅ Pagination -->
        <app-pagination [currentPage]="currentPage + 1" [totalPages]="totalPages" [totalPagesArray]="totalPagesArray"
            (pageChange)="changePage($event)">
        </app-pagination>
    </section>
</section>