<div class="offer-card " >
  <div class="offer-header d-flex align-items-center mb-3">
    <img [src]="offer.logo" alt="logo" class="offer-logo me-2 h-60 w-60" />
    <div>
      <h5 class="company-name mb-0">{{ offer?.company }}</h5>
      <p class="job-title mb-0">{{ offer.title }}</p>
    </div>
  </div>

  <p class="salary-range">{{ offer.salary }}</p>
  <p class="description">{{ offer.description }}</p>

  <p class="opening-jobs mt-4">
    Opening Jobs ({{ offer.openingJobs }})
  </p>

  <div class="progress my-3">
    <div
      class="progress-bar"
      role="progressbar"
      [style.width.%]="offer.progress"
    ></div>
  </div>

  <div class="d-flex justify-content-between align-items-center mt-4">
    <button class="btn btn-primary view-btn">View Applications</button>
    <div class="location d-flex align-items-center">
      <i class="fa-solid fa-location-dot me-1"></i>
      {{ offer.location }}
    </div>
  </div>
</div>
