.offer-card {
  background-color: var(--second-primary-color);
  border-radius: 10px;
  padding: 20px;
  color: var(--white-color-1);
  width: 100%;
  transition: all 0.3s ease;
  border: 1px solid var(--border-color);

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 10px rgba(0, 128, 255, 0.2);
  }

  .offer-logo {
    width: 60px;
    height: 60px;
    border-radius: 4px;
  }

  .company-name {
    font-weight: 600;
    color: var(--gray-color-2)!important;
    font-size: 16px;
  }

  .job-title {
    color: #3b6dc1 !important;
    font-weight: 500;
    font-size: 18px;
  }

  .salary-range {
    color: var(--purple-1);
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .description {
    color: var(--gray-color-1);
    font-size: 15px;
    margin-bottom: 15px;
  }

  .opening-jobs {
    font-weight: 500;
    font-size: 18px;
    color: #3b6dc1 !important;
    margin-bottom: 6px;
  }

  .progress {
    height: 6px;
    border-radius: 4px;
    background-color: #3783af;

    .progress-bar {
      background-color: #ed5a77;
    }
  }

  .view-btn {
    background-color: var(--purple-1);
    border: none;
    font-weight: 500;
    padding: 6px 15px;
    border-radius: 6px;
  }
.view-btn:hover{
   background-color: #4184aa;
}
  .location {
    font-size: 13px;
    color: #a3b3d1;
  }
}