<section class="container-fluid p-0">
    <div class="d-flex justify-content-between mb-3">

        <div class="page-title ">
            <i class="fa-solid fa-house"></i>
            <span style="font-weight: 700; color: #566f9e;">-</span>
            <span>View All Tables List</span>
        </div>
        <div>
            <button class="creat-btn" routerLink="/panel/table/build-table">Create Table</button>
        </div>
    </div>
    <section class="table-main-div ">
        <div class="rounded-2xl text-gray-200 overflow-x-auto  pt-4">
            <table class="min-w-full text-sm border-separate border-spacing-y-2 ">
                <thead>
                    <tr class="text-gray-400 text-left text-xs uppercase tracking-wider">

                        <th class="px-3 py-2">Form Name</th>

                        <th class="px-3 py-2">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let c of paginatedFormList; let i = index"
                        class="bg-[#1e293b] hover:bg-[#27354a] rounded-lg">
                        <td class="px-3 py-3 font-medium">{{ c.displayName }}</td>

                        <td class="px-3 py-3 text-gray-400">

                            <div class="dropdown" *ngIf="routeNUmber === 1">
                                <span class="cursor-pointer" data-bs-toggle="dropdown" aria-expanded="false"
                                    style="cursor: pointer;"><i class="fa-solid fa-ellipsis-vertical"></i></span>

                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item"
                                            [routerLink]="['/panel/view-all-submissions', c.publicId]">View All
                                            Submissions</a></li>
                                    <li><a class="dropdown-item" [routerLink]="['/panel/form-render', c.publicId]">View
                                            Form</a></li>
                                    <li><a class="dropdown-item"
                                            [routerLink]="['/panel/update-form', c.publicId]">Update
                                            Form</a></li>
                                    <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                                </ul>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <!-- ✅ Pagination -->
        <app-pagination 
          [currentPage]="currentPage" 
          [totalPages]="totalPages" 
          [totalPagesArray]="totalPagesArray"
          (pageChange)="changePage($event)">
        </app-pagination>
    </section>
</section>