<section class="container-fluid p-0">
    <div class="d-flex justify-content-between mb-3">
        <div class="page-title ">
            <i class="fa-solid fa-house"></i>
            <span style="font-weight: 700; color: #566f9e;">-</span>
            <span>View All Candidates List</span>
        </div>
        <div>
            <button (click)="openModal(content)" class="creat-btn" [disabled]="candidateList.length === 0 "
                [ngClass]="{'disabled-button': candidateList.length === 0 }">
                Select All
            </button>
        </div>
    </div>



    <section class="table-main-div ">
        <div class="rounded-2xl text-gray-200 overflow-x-auto pt-4">
            <table class="min-w-full text-sm border-separate border-spacing-y-2 ">
                <thead>
                    <tr class="text-gray-400 text-left text-xs uppercase tracking-wider">

                        <th class="px-3 py-2">Candidate Name</th>
                        <th class="px-3 py-2">Email</th>

                        <th class="px-3 py-2">Status</th>
                         <th class="px-3 py-2">
                            <div class="approval-header">
                                Approved

                            </div>
                        </th>
                        <!-- <th class="px-3 py-2">Actions</th> -->

                       



                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let c of paginatedFormList; let i = index"
                        class="bg-[#1e293b] hover:bg-[#27354a] rounded-lg">
                        <td class="px-3 py-3 font-medium">{{ c.firstName }} {{ c.lastName }}</td>
                        <td class="px-3 py-3 font-medium">{{ c.email }}</td>



                        <td class="px-3 py-3">
                            {{ c.status }}
                        </td>
                         <td class="px-3 py-3">
                            <div class="approval-toggle">
                                <label class="switch">
                                    <input type="checkbox" [(ngModel)]="c.selected"
                                        (change)="shortlistCandidateBySingle(c.publicId)">
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </td>

                        <td class="px-3 py-3 font-medium">
                            <!-- <i class="fa fa-edit" style="cursor:pointer; margin-right: 10px;"
                                [routerLink]="['/panel/onboarding/edit-candidates']"
                                [queryParams]="{id: c.publicId ,currentPage:currentPage}"></i> -->
                            <!-- <i class="fa fa-trash" style="cursor:pointer; "></i> -->
                        </td>
                       
                    </tr>
                    <tr *ngIf="candidateList.length === 0">
                        <td colspan="5" class="text-center py-4 text-gray-500">No candidates found.</td>

                    </tr>




                </tbody>
            </table>

        </div>

        <app-pagination [currentPage]="currentPage + 1" [totalPages]="totalPages" [totalPagesArray]="totalPagesArray"
            (pageChange)="changePage($event)">
        </app-pagination>
    </section>
</section>

<!-- Modal Template -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
        <!-- <button type="button" class="btn-close" aria-label="Close"
            (click)="modal.dismiss('Cross click'); selectAll = false"></button> -->
    </div>
    <div class="modal-body">
        <p>Accept All Selected Candidates?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
            (click)="modal.close('Close click') ; selectAll = false">Cancel</button>
        <!-- modal.close('Save click') -->
        <button type="button" class="btn btn-primary" (click)="shortlistCandidateByMultiple()">Select All</button>
    </div>
</ng-template>