.jobtitle-wrapper {
  background: var(--second-primary-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  color: var(--text-primary);
  margin-top: -10px;
  padding: 20px 25px;

  .form-title {
    font-size: 23px;
  color: var(--text-primary);
  }

  .reset-btn {
     background: var(--primary-color);
      color: var(--purple-1);
      padding: 8px 14px;
      border-radius: 6px;
      border: none;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        background: var(--purple-1);
        color: white;
      }
  }

  .section-divider {
    border-color: 1px solid var(--border-color);
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .form-label {
  color: var(--text-primary);
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 6px;
  }

  .form-control {
    background: var(--second-primary-color);
    border: 1px solid var(--border-color);
    color: var(--text-primary);
      padding: 9px 16px; 


    &::placeholder {
      color: var(--text-secondary);
      opacity: 0.7;
    }

    // &:focus {
    //   border-color: #5c;
    //   box-shadow: none;
    // }
  }

  textarea.form-control {
    height: auto;
    padding-top: 14px;
  }
  .form-check-label {
    color: var(--text-primary);
    font-weight: 500;
    font-size: 16px;
    // margin-bottom: px;

}

  .status-check {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: none;
    border-color: var(--border-color
    );

    &:checked {
      background-color: var(--purple-1);
      
    }
  }

  .form-footer .btn-warning {
      padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
    background-color: var(--red-color);
    color: white;

    &:hover {
        transform: translateY(-2px);
    }
  }

  .form-footer .btn-primary {
     padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
    background-color: var(--purple-1);
    color: white;

    &:hover {
        transform: translateY(-2px);
    }
  }
}
