<header class="header py-3">
  <div class="d-flex gap-2">
    <button (click)="toggleSidebar()" class="menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="search-box">
      <input type="text" placeholder="Search" />
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
  <div class="button-group">
 
    <button (click)="themeService.toggleLightTheme()">
      <img [src]="
          isDarkMode
            ? '../../../../assets/moon.svg'
            : '../../../../assets/sun.svg'
        " alt="" [style.filter]="
          isDarkMode
            ? 'invert(62%) sepia(84%) saturate(513%) hue-rotate(248deg) brightness(95%) contrast(90%)'
            : 'invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%)'
        " />
    </button>

<div class="btn-group display-none-style">
  <button class="dropdown-btn" (click)="logoutUser()">
    <i class="fa-solid fa-right-from-bracket"></i> <!-- logout icon -->
  </button>
</div>
  </div>
</header>


<app-header-modal></app-header-modal>



