.btn-groups-main-div {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--second-primary-color);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  margin-bottom: 15px;

  button {
    background: transparent;
    outline: none;
    border: 1px solid #566f9e;
    height: 60px;
    width: 170px;
    color: var(--gray-color-1);

    cursor: pointer;
    transition: all 0.3s ease;

    span {
      display: block;
    }

    /* Hover optional */
    &:hover {
      background: rgba(86, 111, 158, 0.2);
    }
  }

  /* ✅ Active Button Style */
  button.active {
    background: var(--purple-1);
    color: var(--second-primary-color);
    border-color: var(--purple-1);
  }

}


@media (max-width: 850px) {
  .btn-groups-main-div {
    justify-content: center !important;
  }
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  caption-side: bottom;
  border-collapse: collapse;
}

tr {
  transition: background-color 0.2s ease-in-out;
}

th,
td {
  white-space: nowrap;
}

table thead tr th {
  color: var(--gray-color-1);
  border-bottom: 1px solid #d8d3d3b1;

}

table tbody tr td {
  color: var(--gray-color-2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);

}

.table-main-div {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--second-primary-color);
}

.checkbox-style {
  appearance: none;
  /* removes default checkbox design */
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--border-color, #999);
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}

.checkbox-style:checked {
  background-color: var(--purple-1);
}

.dropdown .dropdown-menu {
  background-color: var(--primary-color) !important;

  li a {
    color: var(--gray-color-1) !important;
  }

  li a:hover {
    cursor: pointer;
    background: rgba(86, 111, 158, 0.2) !important;
  }
}

.dropdown-toggle::after {
  display: none !important;
  /* Tailwind blue-500 */
  border-color: var(--purple-1);
  position: relative;
}

.checkbox-style:checked::after {
  content: "✓";
  color: #ffffff;
  font-size: 14px;
  position: absolute;
  top: -2px;
  left: 4px;
}

:host ::ng-deep {
  .action-button {
    display: flex;
    gap: 0;

    .btn {
      background: transparent !important;
      color: #333;
      padding: 6px 12px;
      border-style: solid !important;
      border-width: 2px !important;
      border-color: transparent !important;
      cursor: pointer;
      font-weight: 500;
      transition: all 0.3s ease;
      border-radius: 0;
    }

    .btn-1 {
      border-left-color: green !important;
      border-top-color: green !important;
      border-bottom-color: green !important;
      border-right-color: purple !important;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      color: #b5b5c3 !important;
    }


    .btn-2 {
      border-top-color: purple !important;
      border-bottom-color: purple !important;
      border-right-color: purple !important;
      border-left: none !important;
      color: #b5b5c3 !important;

    }

    .btn-3 {
      border-top-color: red !important;
      border-bottom-color: red !important;
      border-right-color: red !important;
      border-left: none !important;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      color: #b5b5c3 !important;

    }



  }
}

.btn-1:hover {
  background-color: #05825f !important;
  color: #ffffff !important;
}

.btn-2:hover {
  background-color: var(--purple-1) !important;
  color: #ffffff !important;
}

.btn-3:hover {
  background-color: #ee3158 !important;
  color: #ffffff !important;
}

.dropdown .dropdown-menu {
  background-color: var(--primary-color) !important;
  padding: 4px 0;
  min-width: 160px;   // dropdown width control
}

.dropdown .dropdown-menu li a {
  padding: 6px 12px;
  font-size: 13px;
  color: var(--text-primary) !important;
}

.dropdown .dropdown-menu li a:hover {
  background-color: var(--light-purple) !important;
  color: #ffffff !important;
}



.creat-btn {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
    background-color: var(--purple-1);
    color: white;
      &:hover {
       transform: translateY(-2px);
    }
}